.body{
    text-align: center;
}

.top-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.layout button{
    margin-left: 40px;
}

.pokemon .layout{
    margin-top: 40px;
}

