.CardPokemonDetail {
    background-color: antiquewhite;
    text-align: center;
    min-width: 400px;
    margin-right: 20;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1rem solid;
    border-color: rgb(161, 130, 92);
    background-color: rgb(161, 143, 119);

    min-height: 650px;
    justify-content: space-around;


}



.container {
    display: flex;
    justify-content: center;


}

.top-container {
    display: flex;
    justify-content: center;
    max-height: 60px;
    border: 2px solid;
    border-radius: 1rem;
    text-align: center;

}

.top-container .medium {
    max-height: 60px;
    margin-top: 0;

}





.CardPokemonDetail img {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid;
}

.bottom-container {
    border-radius: 1rem;
    border: 2px solid;
    margin-top: 1rem;
}